	
<p>This is the thing {{jack}}</p>
<ol>
    <li>{{1+1}}</li>
    <li>{{20-7}}</li>
    <li>{{10*10}}</li>
</ol>
<ul>
    <li>'Hello' + {{1+1}}</li>
   <li>{{jack.length}}</li>
   <li>{{jack.toUpperCase()}}</li>
   <li>{{showuser()}}</li>
   <li>{{siteUrl}}</li>
</ul>
<input type="text" placeholder="Name" id="nameid">
<input type="text" bind-disabled="isdisabled" placeholder="email" id="email">
<button type="button">Click</button>
<style>
.success{color:greenyellow; font-size: 24px; font-weight: lighter;}
.danger{color: red;}
.warning{color: orange ;}
</style>
<h3 [class]="issuccess">
    Heading three
</h3>
<h3 [class.danger]="isdisabled">
    Heading three
</h3>

<h3 [ngClass]="totaltext">
    Heading three
</h3>

<h1 [style.color]="isdepend ? 'red' : 'yellow'">This New STyle Try</h1>